.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 110%;
    height: 430px;
    background-color: var(--gray_1);
    color: var(--gray_4);
}

.header__container > h1 > span {
    font-size: var(--size_1);
    color: var(--blue_1);
}

.header__container > h2 {
    color: var(--gray_2);
    margin-bottom: 30px;
}

.header__container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__button {
    width: 84.5vw;
    background-color: var(--gray_1);
    color: var(--gray_4);
    border: solid 2px var(--gray_4);
    padding: 7px;
    border-radius: 32px;
}

.main__container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray_3);
    height: 100%;
    width: 110%;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 20px;
    padding: 30px;
}

.section > h2 {
    font-weight: bold;
}

.scroll__section{
    display: flex;
    overflow: auto;
    gap: 15px;
    width: 100%;
}

.section__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray_4);
    padding: 25px;
    border-radius: 5px;
    height: 150px;
    width: 75%;
    justify-content: space-between;
    flex-shrink: 0;
}

.section__1--div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section__1--title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__1--title > h2 {
    font-weight: bold;
}

.section__1 > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section__1 > div > span {
    color: var(--blue_1);
    background-color: var(--gray_3);
    padding: 3px;
}

@media screen and (min-width: 426px) {
    .header__container{
        width: 98.79vw;
    }
    .header__container > div {
        flex-direction: row;
        gap: 10px;
    }
    .header__button {
        width: 13vw;
    }
    .main__container{
        width: 98.79vw;
        justify-content: center;
        align-items: center;
    }
    .section {
        width: 90vw;
        justify-content: center;
    }
    .section > h2 {
        margin-left: 70px;
    }
    
    .scroll__section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section__1 {
        width: 25%;
    }
}

@media (min-width: 430px) and (max-width: 665px) {
    .section__1 {
        width: 40%;
        height: 20%;
    }
}